.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background: white;
  background-size:cover;
  height: 100%;
  padding: 150px;
  color: white;position: fixed;width:100%; 
}

.App-intro {
  font-size: large;
}
.App-login-form{max-width:400px;margin:60px auto;}
.App-title{ font-size:30px;font-weight:normal;}
