/*
* @Author: vance
* @Date:   2017-07-24 11:25:13
* @Last Modified by:   vance
* @Last Modified time: 2017-07-24 11:25:15
*/
#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}