/*
* @Author: vance
* @Date:   2017-07-24 11:25:13
* @Last Modified by:   vance
* @Last Modified time: 2017-08-02 01:38:35
*/
#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login{text-align: left;}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}
.Login {
  text-align: center;
}

.Login-logo {
  animation: Login-logo-spin infinite 20s linear;
  height: 80px;
}

.Login-header {
  background: url(images/bg.jpg);
  background-size:cover;
  height: 100%;
  padding: 150px;
  color: white;position: fixed;width:100%; 
}

.Login-intro {
  font-size: large;
}
.Login-login-form{max-width:400px;margin:60px auto;}
.Login-title{ font-size:30px;font-weight:normal;}
.Login-main{background: white;padding:40px;width: 500px;margin:0 auto;}
